html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
#container {
  width: 100%;
  height: 100%;
}

#change-image-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 50px;
}