@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}



.hero{
    background-image: url(Cover.jpg);
    background-size: cover;
    background-position: 100% 20%;
    height: 100vh;
    position: relative;
}

.hero::after{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 40vw;
    background-color: rgba(255,255,255,.1);
    backdrop-filter: blur(15px);
}


.top-text{
    position: absolute;
    left: 10rem;
    bottom: 20rem;
    display: flex;
    gap: 1rem;
    z-index: 1;
}

.bottom-text{
    position: absolute;
    left: 7rem;
    bottom: 10rem;
    width: 25rem;
    display: flex;
    gap: 1rem;
    color: #b39090;
    z-index: 1;
}

.bottom-text h1{
    letter-spacing: 2px;
}

.bottom-text div > *{
    margin-bottom: 1rem;
}

.bottom-text p{
    color: #b39090;
}

.view-link{
    text-decoration: none;
    letter-spacing: 1px;
    color: #b39090;
}

.view-link:hover{
    color: #56ba99;
}

.view-link span{
    font-size: 1.4em;
    margin-left: .6rem;
}
